div{
    margin: 10px 0px;
    padding: 10px 20px;
    text-align: center;
}

.close{
    float: right;
    margin-top: -15px;
}

.fadeOut{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s;
    opacity: 2s linear;
}